
.book-details-page {
    flex: 1; /* Take up remaining space */
    margin-left: 20px; /* Add space between sidebar and book details */
    color: #291a52;
    display: flex; /* Use flexbox to center the book card */
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensure the width is full */
}

/* Book Card */
.book-card {
    background-color: #f4f4f447;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
}
