/* General styles */
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: url('back2.png') no-repeat center center fixed;
    background-size: cover; */
    overflow-x: hidden;
}

/* Staff Details */
.staff-details {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.staff-name {
    font-size: 24px;
    color: #3D5456;
    margin-bottom: 10px;
}

.staff-info {
    font-size: 16px;
    color: #3D5456;
    margin-bottom: 8px;
}

.error-message {
    color: red;
    text-align: center;
}

.loading-message {
    color: #3D5456;
    text-align: center;
}
