.staff-details {
    flex: 1;
    background: #A198D3; /* Matching the background of the login form */
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}
.staff-name {
    font-size: 24px;
    margin-bottom: 10px;
    color:#291a52;
}

.staff-info {
    font-size: 16px;
    margin-bottom: 8px;
}

.staff-info-section {
    display: flex;
    flex-direction: column;
  
}

.staff-info-item label {
    font-size: 14px;
    color: #291a52;
}

/* Staff Info Values */
.staff-info-item .info-block {
    font-size: 14px;
    background: #A198D3; /* Softer background similar to input fields */
    padding: 6px;
    border-radius: 8px;
    border: 1px solid #EBCEBE ;
    text-align: left;
    color: #26292D;
}

.error-message {
    color: red;
    text-align: center;
}

.loading-message {
    color: #3D5456;
    text-align: center;
}

.save-button , .edit-button, .cancel-button{
    padding: 2% 2%; /* Padding for buttons */
    background-color: #d99395; /* Teal background */
    color: #ffffff; /* White text color */
    border: none;
    border-radius: 8px; /* Rounded corners */
    cursor: pointer;
    font-size: 16px; /* Font size for button text */
    transition: background-color 0.3s ease;
    width: 100%; /* Full width button */
    margin-top: 10px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group select {
    width: 100%;
    padding: 1.5%; /* Increased padding for better usability */
    border: 1px solid #DAA7A0; /* Light border */
    border-radius: 8px; /* Rounded corners */
    background-color: #EBCEBE; /* White background for inputs */
    box-sizing: border-box;
    color: #291a52; /* Text color */
}